---
import LegalLayout from '../../../../layouts/LegalLayout.astro';
---
<LegalLayout
  title="特定商取引法相關記載 | 太旺旺株式會社"
  description="太旺旺株式會社依日本《特定商取引法》規定所揭露之事項。包含事業主資訊、付款、配送、退換貨等事項。"
  locale="zh"
  canonicalPath="/zh/legal/transactions/"
  pageTitle="特定商取引法相關記載"
  lastUpdated="2026 年 5 月 17 日"
>
  <p>本記載係依日本《特定商取引法》第 11 條之規定，就通信販售所應揭露之事項所為之表示。</p>

  <dl>
    <dt>事業主名稱</dt>
    <dd>太旺旺株式會社</dd>

    <dt>負責人</dt>
    <dd>代表取締役　楊　杰敏</dd>

    <dt>所在地</dt>
    <dd>〒537-0002　大阪府大阪市東成區深江北 2-1-3</dd>

    <dt>電話號碼</dt>
    <dd>應客戶請求，將遲滯不久即予揭露。請透過<a href="/zh/#contact">聯絡表單</a>與我們聯繫。</dd>

    <dt>電子郵件</dt>
    <dd>請透過<a href="/zh/#contact">聯絡表單</a>與我們聯繫。受理諮詢後，將由專員以電子郵件回覆。</dd>

    <dt>商品售價</dt>
    <dd>依各銷售通路（SNS 直接銷售；未來預計於 Yahoo!購物、樂天市場上架）之商品頁面所載價格為準。所有價格均為含稅價格。</dd>

    <dt>商品代金以外之必要費用</dt>
    <dd>
      <ul>
        <li>運費：依商品及配送地區而異。將於商品頁面或訂單確認前告知。</li>
        <li>銀行匯款情形：匯款手續費由客戶負擔。</li>
      </ul>
    </dd>

    <dt>付款方式</dt>
    <dd>SNS 直接銷售之情形：銀行匯款，或經與客戶協商後決定之其他方式。Yahoo!購物・樂天市場上架後，依各平台之規定辦理。</dd>

    <dt>付款時期</dt>
    <dd>銀行匯款之情形：請於訂購後 7 日內完成匯款。透過第三方平台訂購者，依各平台之規定辦理。</dd>

    <dt>交付時期</dt>
    <dd>確認收款後 7 個營業日內出貨。可能因庫存或配送地區而有所變動。海外配送另行通知。</dd>

    <dt>退貨與換貨</dt>
    <dd>
      <p><strong>客戶因素之退貨：</strong>於商品送達後 7 日內透過<a href="/zh/#contact">聯絡表單</a>聯繫本公司，且商品未拆封、未使用之情形下，本公司受理退貨。退貨運費由客戶負擔。</p>
      <p><strong>瑕疵品・送錯商品：</strong>由本公司負擔運費，以換貨或退款方式處理。請於商品送達後 7 日內聯繫本公司。</p>
    </dd>

    <dt>不符合契約之責任</dt>
    <dd>商品交付後之不符合契約責任，依日本民法及消費者契約法等相關法令辦理。</dd>

    <dt>關於商品</dt>
    <dd>本公司所販售之商品為雜貨・生活用品。並非醫療器材，亦不保證特定之效能或效果。</dd>
  </dl>
</LegalLayout>
